* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  color: #f4f4f4;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.country-search {
  height: 100vh;
  background: #444;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 600px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#search {
  background: #555;
  border: 1px solid #f4f4f4;
  color: #f4f4f4;
  border-radius: 5px;
  width: 100%;
  padding: 15px 10px;
}

#search:focus {
  outline: 1px solid rgb(255, 50, 118);
  border: 1px solid rgb(255, 50, 118);
}

#suggestions {
  display: none;
  background: #555;
  max-height: 300px;
  width: 100%;
  overflow-y: auto;
  border-radius: 5px;
  margin-top: 10px;
}

.suggestion {
  padding: 10px 20px;
  cursor: pointer;
}

.highlighted {
  background: rgb(255, 50, 118);
}

.error-message {
  display: none;
  margin-top: 10px;
  color: rgb(255, 50, 118);
  font-weight: 500;
}
